<div class="container-show">
  <div class="container-main">
  <div class="column-left m-3">
    <div class="container-nav p-3">
      <h1><%= @cocktail.name %></h1>
      <%= link_to 'Back', cocktails_path, class: "btn-sm btn-dark" %>
      <%= link_to 'Remove', cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger px-2" %>
    <hr />
    </div>
    <div class="container-info p-3">
      <h3>Ingredients</h3>
      <% @cocktail.doses.each do |dose| %>
        <div class="container-doses">
          <h5> <%= dose.ingredient.name %> </h5>
          <p><%= dose.description %> </p>
          <%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-dark" %>
        </div>
      <% end %>
      <%= link_to 'New Dose', new_cocktail_dose_path(@cocktail), class: "btn btn-view" %>
    </div>
  </div>

  <div class="column-right ml-5">
    <%= cl_image_tag @cocktail.photo.key, crop: :fill %>
  </div>
  </div>
</div>
